@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
/*Mobile First*/

#grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: 10% 90% ;
    grid-template-areas: 
    "nav data";
}

nav{
    grid-area: nav;
    background-color: var(--negro);
    padding: 0 0 2rem 0;

    
}

nav a:hover{
    background-color: var(--azuloscuro);

}

nav a{
    text-decoration: none;

}

nav p{
    display: none;
}

#nameUser, #emailUser{
    display: none;
}

h1{
    text-align: center;
}

section{
    grid-area: data;
    justify-self: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../IMG/index/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.box{
    grid-area: box;
    display:grid;
    padding: 1rem 2rem;
    background-color:  rgba(214, 216, 226, 0.838);
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}


.input-box input{
    width: 100%;
    height: 1.3rem;
    border: none;
    margin-bottom: 1rem;

    box-shadow: 0px 2px 1px var(--negro);
}

.input-box input[type="date"]{
    height: 1.5rem;
}

.button-box{
    display: grid;
    grid-area: button;
    width: 100%;
}

.button-box button{
    width: 50%;
    height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--blanco);
    background-color: var(--negro2);
}

.genero{
    display: grid;
    grid-area: genero;
    grid-template-areas: 
    "mujer m hombre h otro o";
    align-self: center;
    width: 80%;

}

#Hombre{
    display: grid;
    grid-area: hombre;
    width: 100%;
    margin-top: 1rem;
    
}
#Mujer{
    display: grid;
    grid-area: mujer;
    width: 100%;
    margin-top: 1rem;
}
#Otro{
    display: grid;
    grid-area: otro;
    width: 100%;
    margin-top: 1rem;
}

#h{
    display: grid;
    grid-area: h;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

#m{
    display: grid;
    grid-area: m;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

#o{
    display: grid;
    grid-area: o;
    margin-top: 1rem;
    margin-left: 0.2rem;
}

.input-box .genero input{
    width: 10%;
    color: var(--azuloscuro);
    padding: 0;
    box-shadow: none;
}

.input-box .genero label{
    margin-bottom: 1rem;
}

.input-box label{
    color: var(--negro2);
    font-size: 1.2rem;
}

#tipodoc{
    display: grid;
    grid-area: tipodoc;
    width: 100.2%;
    height: 1.7rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0px 2px 1px var(--negro);
}



.logo{
    grid-area: logo;
    display: grid;
    grid-template-areas: 
    "logo"
    "menus";
    height: 20%;
    background-color: var(--azuloscuro);
    background-image: url(../IMG/opinion/Vector-opinion.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150% 180px;
   
}

.logo img{
    width: 80%;
    margin-top: 2rem;
    justify-self: center;
    border-radius: 5px;
}

.menu{
    grid-area: menus;
    display: grid;
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro"
    "cinco";
    margin-top: 4rem;

}

.box .account img{
    width: 50%;
    height: auto;
    justify-self: center;
    margin: 1rem 0 0.5rem 0;
}

.ico{
    display: grid;
    grid-template-areas: 
    "1 2";
    justify-content: center;
    background-color: var(--azuloscuro);
    width: 50%;
    margin-left: 5.3rem;
    margin-bottom: 2rem;
    
}

#i1{
    display: grid;
    grid-area: i1;
    
}
#i2{
    display: grid;
    grid-area: i2;
    display: none;
}

.ico i{
    font-size: 1.5rem;
    color: var(--blanco);
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
}


.account{
    display: grid;
    justify-self: center;
}

#op1{
    grid-area: uno;
    color: var(--blanco);
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#op2{
    grid-area: dos;
    color: var(--blanco);
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#op3{
    grid-area: tres;
    color: var(--blanco);
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#op4{
    grid-area: cuatro;
    color: var(--blanco);
    font-size: 1.3rem;
    text-align: center;
    margin: 0 0 0.5rem 0;
}

#op5{
    grid-area: cinco;
    color: var(--blanco);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 15em;
}

.user{
    grid-area: user;
}
/*Resolucion Notebooks*/
@media screen and (min-width:1024px) {


    
}