/*Mobile First*/
#container-grid{
    display: grid;
    grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 100px
    "footer" 50px;
    text-align: center;
}
/*Estilos Grid Intems*/
header{
    grid-area: header;
    background-color: blue;
}
nav{
    grid-area: navbar;
    background-color: yellow;
}
main{
    grid-area: main;
    background-color: blueviolet;
}
aside{
    grid-area: sidebar;
    background-color: green;
}
footer{
    grid-area: footer;
    background-color: red;
}
/*Resolución tabletas*/
@media screen and (min-width:768px){
    #container-grid{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 50px;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "sidebar main"
        "footer footer";
    }
}
/*Resolución resoluciones medias*/
@media screen and (min-width:1024px){
    #container-grid{
        grid-template:
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 50px /
        200px auto 100px;
    }
}
/*Resolución resoluciones macro*/
@media screen and (min-width:1308px) {
    .container-grid{
         max-width: 1200px;
         margin: 0 auto;
     }
    }
    