@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
/*Mobile first*/
nav{
    display: flex;
    flex-direction: column;
}

.logo{
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo img{
    width: 40%;
    max-width: 200px;
}

.menu{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.menu hr{
    width: 90%;
    background-color: var(--blanco);
}
.item{
    padding: 1rem;
}

.logo i{
    color: var(--blanco);
    font-size: 2rem;
}

nav a{
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    font-size: 1.3rem;
}

nav a:hover{
    background-color: #0B3860;
    width: 100%;
    transition: all ls ease-in-out, height 1ms;
}

.navbar-button{
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
    cursor: pointer;
}
#banner{
    background-image: url(../img/index/slide1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 0px;
    height: 400px;
}
/*Resolucion tablet*/
@media screen and (min-width: 768px){

}

/*Resolución notebooks*/
@media screen and (min-width: 1024px){
      
    nav{
        display: flex;
        flex-direction: row; /*cambiamos la disposición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }
    .logo{
        padding: 1rem;
    }
    .logo img{
        width: 100%;
        max-width: 180px;       
    }
    .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
        display: none;
    } 
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .menu-hr{ /*ocultamos la barra de división*/
        display: none;
    }
    .navbar-button{
        background-color:var(--azuloscuro);
    }       
}

/*Resolución notebooks*/
@media screen and (min-width: 1308px){
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: var(--negro2);
    }
    .logo img{
        width: 100%;
    }
    
}
